#root {
  --primary-color: #072e4a;
  --secondary-color: #c4671b;
  --white-color: #ffffff;
}

.footer {
  background-color: var(--primary-color);
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Layout */
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

/* Logo */
.img-container {
  display: block;
  max-width: 200px;
}
.logo-img {
  display: block;
  width: 100%;
  height: auto;
}

/* Navigation */
.footer-nav-links {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  margin: 15px auto;
  gap: 5px;
  font-size: 1.2rem;
  list-style: none;
}
.links-throughs{
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.last{
  display: flex;
  justify-content: space-evenly;
}
.footer .links ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.footer .links ul li a:hover {
  color: var(--secondary-color);
}

/* Social links */
.footer .social-media-links {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 20px;
  font-size: 1.5em;
  padding: 10px 0;
  flex-wrap: wrap;
}
.footer .social-media-links a {
  color: #ffffff;
  font-size: 1.8em;
  transition: color 0.3s ease;
}
.footer .social-media-links a:hover {
  color: var(--secondary-color);
}

/* Copyright */
.footer .cr {
  font-size: 0.8rem;
  color: var(--white-color);
  text-align: center;
  padding: 10px 0;
}
.active-link{
  color: var(--secondary-color);
}
.non-active-link{
  color: var(--white-color);
}
/* Responsive */
@media (max-width: 768px) {
  .footer .links ul {
    flex-direction: column;
    gap: 10px;
  }
  .links{
    width: 50%;
  }
  .links-throughs{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .footer .social-media-links {
    width: 50%;
    gap: 15px;
    font-size: 1.5em;
    flex-wrap: nowrap;
  }
  .footer-nav-links{
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 15px 8px;
  }
  .links{
    display: none;
  }
  .links-throughs{
    width: 100%;
  }
  .footer ul {
    font-size: 1rem;
  }
  .footer .social-media-links {
    font-size: 1.3em;
    width: 100%;
  }
}

/* sr-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
